.conteiner {
    width: 1400px;
    margin: auto;
}

.a {
    width: 100%;
    height: 100px;
    background: #ED90BA;
    border-radius: 10px;
    margin-bottom: 10px;
}

.wrap {
    display: flex;
}

.b {
    width: 70%;
    height: 500px;
    background: #9E7B70;
    border-radius: 10px;
    margin-right: 10px;
}

.c {
    width: 30%;
    height: 500px;
    background: #e16e6e;
    border-radius: 10px;
}