* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}


.all_site {
    max-width: 1920px;
}

.d_f {
    display: flex;
    align-items: center;
}

.between {
    justify-content: space-between;
}

.evenly {
    justify-content: space-evenly;
}

.dark {
    background-color: #0F2438;
}

.blue {
    background-color: #005BB9;
}

.white {
    color: white;
}

.header {
    height: 36px;
}

.wrapper {
    max-width: 1354px;
    margin: auto;
}

.header_part {
    padding-top: 8px;
    cursor: pointer;
}

li {
    list-style: none;
}

ul li {
    display: inline;
    margin-right: 30px;
    font-weight: 500;
    font-size: 14px;
}

li:nth-child(7) {
    margin-right: 0;
}

.header_contacts {
    box-sizing: border-box;
    padding-top: 20px;
    height: 196px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

.logo {
    width: 292px;
    height: 83px;
}

.logo img {
    width: 73px;
    height: 83px;
}

.schedule {
    width: 280px;
    height: 40px;
}

.schedule img {
    width: 32px;
    height: 32px;
}

.address {
    width: 169px;
    height: 32px;
}

.address img {
    width: 32px;
    height: 32px;
}

.WhatsApp {
    box-sizing: border-box;
    padding-top: 8px;
    width: 204px;
    height: 30px;
    background: #E1EFD0;
    border-radius: 2px;
}


.WhatsApp img {
    width: 12px;
    height: 12px;
    margin-bottom: 8px;
}

.WhatsApp p {
    margin-top: 8px;
}

.phone {
    width: 200px;
    height: 40px;
}

.phone:nth-child(1) {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}

.header_contacts_bottom {
    margin-top: 20px;
}

.header_contacts button {
    border: none;
    width: 164px;
    height: 53px;
    border-radius: 6px;
    font-size: 18px;
    line-height: 21px;
}

.input-group {
    width: 649px;
    height: 53px;

}

.mb-3 {
    margin-bottom: 0 !important;
}

.input-group input {
    background: #F4F5FA;
    border-radius: 6px 0px 0px 6px
}

.input-group button {
    width: 101px;
    border-radius: 0px 6px 6px 0px;
}

.header_contacts_icons {
    width: 455px;
    height: 32px;
}

.contact_icon {
    border-right: 1px solid #E1E5F8;;
}

.contact_icon:nth-child(3) {
    border-right: none;
}

.contact_icon img {
    margin-right: 15px;
    width: 28px;
    height: 28px;
}

.contact_icon p {
    margin-right: 25px;
}

.header_contacts_mobile {
    display: none;
    width: 290px;
    height: 58px;

}

header_contacts_mobile img {
    width: 135px;
    height: 47px;
}

.header_contacts_mobile_right {
    width: 132px;
    height: 58px;
}

.phone_mobile p {
    margin: 0;
!important;
    font-size: 10px;
}

.number {
    font-size: 14px;
}

.header_contacts_bottom_mobile {
    margin-top: 15px;
    display: none;
}

.header_mobile_button {
    width: 34px;
    height: 34px;
    background: #005BB9;
    border-radius: 4px;
    flex-direction: column;
    row-gap: 4px;
    justify-content: center;
}

.line {
    width: 20px;
    height: 2px;
    background: #FFFFFF;
}

.input_mobile_left {
    box-sizing: border-box;
    padding: 10px 42px 10px 10px;
    width: 203px;
    height: 34px;
    background: #F4F5FA;
    border-radius: 4px 0px 0px 4px;
}

.input_mobile_right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    background: #005BB9;
    border-radius: 0px 4px 4px 0px;

}

#carouselExampleIndicators {
    border-radius: 20px;
    width: 950px;
    height: 390px;
    background: url("../pictures/Mask Group.png");
}

.carousel-item img {
    width: 417px;
!important;
    height: 356px;
!important;
}

.carousel-item h1 {
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
}

.price {
    font-weight: 500;
    font-size: 37px;
    line-height: 43px;
    color: #005BB9;
}

.main_offer {
    margin-top: 30px;
}

.action_card {
    width: 336px;
    height: 190px;
    background: #F4F5FA;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px 15px;
    margin-bottom: 10px;
}

.action_card_left {
    margin-right: 15px;
}

.actions_mobile {
    display: none;
    margin-top: 10px;
}

.action_card_mobile {
    width: 250px;
    height: 145px;
    background: #F4F5FA;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 15px 0 15px 15px;
    margin-right: 10px;
}

.action_card_left_mobile {
    margin-right: 15px;
}

.action_card_left_mobile img {
    width: 58px;
    height: 54px;
}

.action_card_right_mobile button {
    border: none;
    width: 32px;
    height: 32px;
    border-radius: 6px;
    margin-left: 27px;
}

.cards_slider_mobile {
    display: none;
    margin-top: 20px;
}

.slide_mobile {
    width: 250px;
    height: 126px;
    border: 1px solid #E1E5F8;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 15px;
    margin-right: 10px;
}

.slide_mobile button {
    width: 72px;
    height: 24px;
    background: #005BB9;
    border-radius: 4px;
    color: white;
}

.slide_mobile img {
    width: 74px;
    height: 97px;
}

.mobil_arrow {
    width: 30px;
    height: 30px;
}


.fs_14 {
    font-size: 14px;
    line-height: 16px;
}

.fs_14_dark {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #0A1A2C;

}

.fs_16 {
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
}

.fs_12 {
    font-size: 12px;
    line-height: 14px;
    color: #525252;
}

.fs_20 {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
}

.fs_24 {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #0A1A2C;
}

.orange {
    color: #FFB800;
}

.silver {
    color: #B0B0B0;
}

.action_card_right button {
    width: 57px;
    height: 49px;
    border-radius: 10px;
    border: none;
    margin-left: 32px;
}

.cards_slider {
    margin: 70px 0;
}

.slide {
    width: 431px;
    height: 184px;
    border: 1px solid #E1E5F8;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 30px 0 30px 30px;
}

.slide_text button {
    border: none;
    width: 86px;
    height: 26px;
    border-radius: 4px;
}

.main_card {
    width: 316px;
    height: 418px;
}

.main_card_img {
    width: 276px;
    height: 222px;

}

.main_card_bottom {
    column-gap: 20px;
 }

.main_card_bottom button {
    border: none;
    width: 160px;
    height: 49px;
    border-radius: 6px;
}

.main_card_bottom img {
    width: 21px;
    height: 21px;
}

.discount {
    width: 39px;
    height: 20px;
    background: #FFB800;
    border-radius: 2px;
}

.cards_line {
    column-gap: 30px;
    margin-bottom: 80px;
}

.main_buttons {
    margin-bottom: 30px;
}

.main_buttons button {
    border: none;
    margin-right: 20px;
    height: 55px;
    border: 2px solid #005BB9;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 16px 32px;
}

.btn_style {
    background-color: white;
    color: #005BB9;
}

.show_more {
    margin-left: 570px;
    margin-bottom: 30px;
}

.show_more button {
    border: none;
    margin-right: 20px;
    width: 187px;
    height: 49px;
    border: 2px solid #005BB9;
    box-sizing: border-box;
    border-radius: 6px;

}

.news_posts {
    margin-top: -24px;
}

.news hr {
    width: 1920px;
    height: 9px;
    background: #e3e1e1;
}

.post {
    width: 314px;
    height: 245px;
    flex-direction: column;
    align-items: start;
}

.date {
    flex-direction: column;
    width: fit-content;
}

.btn_date {
    width: 130px;
    height: 25px;
    font-size: 16px;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 1px 18px;
}

.footer {
    height: fit-content;
    margin-top: 120px;
    padding: 36px 0 85px 0;
}

.footer_infos {
    display: flex;
    column-gap: 90px;
}

.payment {
    margin-top: 45px;
}

.grey {
    color: #868DAC;
}

.footer_contacts {
    margin-left: 132px;
}

.footer_contacts img {
    margin: 27px 0 0 218px;
}

.contacts {
    display: flex;
    margin-bottom: 32px;
}

.box {
    width: 240px;
    height: 71px;
}

#footer_input {
    width: 470px;
    height: 40px;
}

#button-addon3 {
    width: 177px;
    border: none;
}

#footer_input input {
    border: 1px solid #203246;
    background-color: #0F2438;
}

.footer_text {
    font-size: 16px;
    margin-top: 47px;
}

.mobil_header p {
    font-size: 12px;
    margin-right: 15px;
    margin-top: 10px;
}

.footer hr {
    width: 320px;
    height: 2px;
    background: #2d455e;
    display: none;
    margin-top: 23px;
}
