@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.wrap{
    display: flex;
}
.first-screen{
    position: absolute;
    width: 1440px;
    height: 888px;
    background: #F7EDE8;
}
.menu{
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    width: 584px;
    height: 24px;
    left: 120px;
    top: 48px;
}
#background{
    position: absolute;
    right: 0px;
}
#photo{
    position: absolute;
    left: 450px;
}
.offer{
    position: absolute;
    width: 350px;
    height: 262px;
    left: 223px;
    top: 320px;
    margin-bottom: 48px;
}
h1{
    margin-bottom: 52px;
}
#skills{
    font-weight: normal;
}
.button{
    position: absolute;
    width: 223px;
    height: 56px;
    left: 223px;
    top: 630px;
    background: #ED90BA;
    box-shadow: 0px 14px 20px rgba(226, 117, 166, 0.3);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}
#xxx{

    position: absolute;
    width: 696px;
    height: 24px;
    left: 120px;
    top: 968px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #9E7B70;

}




