.wrap {
    margin: auto;
    display: block;
    justify-content: center;
    width: 1000px;
}

.header {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-between;
    border: solid 2px #b8ceba;
}

.menu {
    width: 150px;
    height: 30px;
    background: #b8ceba;
}

.main-container {
    width: 100%;
    height: auto;
    display: flex;
    border: solid 2px #b8ceba;
    border-top: none;
    box-sizing: border-box;
}

.side-bar {
    padding: 10px;
    width: 15%;
    border-right: solid 2px #b8ceba;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
}

.menu-bar {
    width: 150px;
    height: 30px;
    background: #b8ceba;
}

.main-right {
    width: 85%;
}

.post {
    display: flex;
    justify-content: center;
    padding: 10px;
    border-bottom: solid 2px #b8ceba;
}

.post-1 {
    width: 100%;
    height: 180px;
    background: #b8ceba;
}

.cards {
    border-bottom: solid 2px #b8ceba;
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: space-evenly;
    align-items: center;

}

.card {
    background: #b8ceba;
    width: 100px;
    height: 70px;
    margin: 10px;
    flex-grow: 1;
}

.middle {
    display: flex;
}

.middle-left {
    display: flex;
}

.middle-cards {
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border-right: solid 2px #b8ceba;
}

.middle-card {
    width: 290px;
    height: 80px;
    background: #b8ceba;
    flex-grow: 1;
}
.btn{
    background: #b8ceba;
    width: 50px;
    height: 30px;
}

.middle-right {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 10px;
}

.right-card {
    background: #b8ceba;
    width: 180px;
    height: 70px;
}

.footer {
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border-top: solid 2px #b8ceba;
    align-items: center;
}
.footer-1{
    width: 700px;
    height: 30px;
    background: #b8ceba;
}
.footer-2{
    width: 250px;
    height: 30px;
    background: #b8ceba;
}
